<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <system.web>
      <compilation targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <!--<httpModules>
        <add name ="httpModule" type="WebApplication1.httpModule" preCondition="integratedMode" />
      </httpModules>-->
    </system.web>
  <system.webServer>
    <modules>
      <add name="httpModule" type="WebApplication1.httpModule" preCondition="integratedMode" />
    </modules>
    <handlers>
      <add name="MyHandler" path="*.myh" verb="GET" type="MyApp.MyHandler" preCondition="integratedMode" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>
