<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ZtTradingConnectionString" connectionString="Data Source=139.129.29.4;Initial Catalog=ZtTrading;Persist Security Info=True;User ID=sa;Password=sasql" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings configSource="App_Code\Config.xml"/>
  <system.web>
    <!-- Session过期时间 -->
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
    <sessionState mode="InProc" timeout="180"/>
    <!--设置网站全局 ASP.NET 页的字符编码格式-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8"/>
    <!--默认错误页设置-->
    <customErrors defaultRedirect="Err.html" mode="RemoteOnly">
      <!--特殊代码编号的错误从定向文件-->
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
      </assemblies>
      <buildProviders>

      </buildProviders>
    </compilation>
    <httpRuntime requestValidationMode="2.0"/>
    <pages validateRequest="false"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>

    </handlers>
  </system.webServer>
</configuration>
